<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

<% if user_signed_in? %>
  <div class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h2 class="title-style-2">Kontakt<span class="title-under"></span></h2>
            <h4>Möchten Sie uns etwas mitteilen? Egal ob Fragen, Anregungen oder Beschwerden, wir freuen uns über Ihr Interesse und werden jede Nachricht beantworten. Nutzen Sie einfach das Formular und schicken Sie uns eine Nachricht.</h4>
              <h4>Noch ein Hinweis: Nur E-Mail-Adresse und eine Nachricht sind hier erfoderlich.</h4>
            <ul>
              <li>Use the form below to ask a question or request our help</li>
              <li>Call us  on 0800  - Germany from 08:00-18:00, Monday-Friday</li>
              <li><a tabindex=0 role=button href="">University of Mannheim </a></li>
              <li>Email:</li>
            </ul>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="col-md-3"></div>

        <div class="col-md-6 col-sm-12 col-form contact" >
          <div class="row">
            
            <div class="form-group col-md-12">
              <%= f.label :name, "Ihr Name:"  %>
              <%= f.text_field :name, autofocus: true, :value=> current_user.username, :readonly=>true, class:"form-control" %>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :email, "Ihre E-Mail-Adresse: "  %>
              <%= f.text_field :email, autofocus: true, :value=> current_user.email, :readonly=>true, class:"form-control" %>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :subject,  "Worum geht es? (optional)"  %>
              <%= f.text_field :subject,  autofocus: true, class:"form-control", placeholder:"Subject" %>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :content, "Wie können wir Ihnen helfen?"  %>
              <%= f.text_area :content, autofocus: true, class:"form-control", placeholder:"Content" %>
            </div><br>

            <div class="form-group col-md-12" role=button>
              <%= f.submit 'Send email', autofocus: true,  class: 'btn btn-primary pull-right' %>
            </div>
            </div>

            <div class="form-group alerts">
              <div class="alert alert-success" role="alert"></div>
              <div class="alert alert-danger" role="alert"></div>
            </div>  

            <div class="clearfix"></div>
          </div><br />
        <div class="col-md-3"></div>
      </div> 
    </div>
  </div>

  

  <% else %>
    <div class="main-container">
      <div class="container contact">
        <div class="row">
        <div class="col-md-12">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h2 class="title-style-2">Kontakt<span class="title-under"></span></h2>
             <h4>Möchten Sie uns etwas mitteilen? Egal ob Fragen, Anregungen oder Beschwerden, wir freuen uns über Ihr Interesse und werden jede Nachricht beantworten. Nutzen Sie einfach das Formular und schicken Sie uns eine Nachricht.</h4>
              <h4>Noch ein Hinweis: Nur E-Mail-Adresse und eine Nachricht sind hier erfoderlich.</h4>
            <ul>
              <li>Use the form below to ask a question or request our help</li>
              <li>Call us  on 0800  - Germany from 08:00-18:00, Monday-Friday</li>
              <li><a tabindex=0 role=button href="">University of Mannheim </a></li>
              <li>Email:</li>
            </ul>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="col-md-3"></div>

        <div class="col-md-6 col-sm-12 col-form">
          <div class="row">

            <div class="form-group col-md-12">
              <%= f.label :name, "Ihr Name:"  %>
              <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Name" %>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :email, "Ihre E-Mail-Adresse: "  %>
              <%= f.text_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :subject, "Worum geht es? (optional)"  %>
              <%= f.text_field :subject, autofocus: true, class:"form-control", placeholder:"Betreff " %>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :content, "Wie können wir Ihnen helfen?"  %>
              <%= f.text_area :content, autofocus: true, class:"form-control", placeholder:"Nachricht" %>
            </div>

            <div class="form-group col-md-12">
              <%= f.submit 'Send email', class: 'btn btn-primary pull-right' %>
            </div>

            <div class="form-group alerts">        
              <div class="alert alert-success" role="alert"></div>
              <div class="alert alert-danger" role="alert"></div> 
            </div>  
            <div class="clearfix"></div></div>
          </div><br />
          <div class="col-md-3"></div>
        </div> 
      </div>
    </div>
  <% end %>
<% end %>