<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<title>Contact</title>
<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

<% if user_signed_in? %>
  <div class="main-container fadeIn animated">

    <div class="container">

      <div class="row">

        <div class="col-md-7 col-sm-12 col-form">

          <h2 class="title-style-2">SEND US AN EMAIL<span class="title-under"></span></h2>

          <!-- <form action="php/mail.php" class="contact-form ajax-form"> -->

            <div class="row">
            
              <div class="form-group col-md-12">
              <label><h4>Username:</h4></label>
                <!-- <input type="text" name="name" class="form-control" placeholder="Name*" required> -->
                
                
                <%= f.text_field :name,:value=> current_user.username, :readonly=>true, class:"form-control" %>
              </div>

              <div class="form-group col-md-12">
              <label><h4>Email:</h4></label>
                <!-- <input type="email" name="email" class="form-control" placeholder="E-mail*" required> -->
                
                <%= f.text_field :email,:value=> current_user.email, :readonly=>true, class:"form-control" %>
              </div>

              <div class="form-group col-md-12">
              <label><h4>Subject:</h4></label>
                <!-- <input type="email" name="email" class="form-control" placeholder="E-mail*" required> -->
                <%= f.text_field :subject, class:"form-control", placeholder:"Subject*" %>
              </div>
              
            </div>

            <div class="form-group">
            <label><h4>Message:</h4></label>
              <!-- <textarea name="message" rows="5" class="form-control" placeholder="Message*" required></textarea> -->
              <%= f.text_area :content, class:"form-control", placeholder:"Content*" %>
            </div>

            <div class="form-group alerts">
                        
              <div class="alert alert-success" role="alert">
                
              </div>

              <div class="alert alert-danger" role="alert">
                
              </div>
              
            </div>  

            <div class="form-group">
              <%= f.submit 'Send email', class: 'btn btn-primary pull-right' %>
            </div>

            <div class="clearfix"></div>



        </div>

        <!-- <div class="col-md-4 col-md-offset-1 col-contact">

          <h2 class="title-style-2">GET IN TOUCH<span class="title-under"></span></h2>
          
          <p>Visit us at our office</p>

          <div class="contact-items">

            <ul class="list-unstyled contact-items-list">
              <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-map-marker"></i></span>AbilIT</li>
              <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-phone"></i></span>Phone Number</li>

              <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-envelope"></i></span> contact@ability.net</li>
            </ul>
          </div>

        </div> -->

      </div> 


    </div>
    


  </div>
  <% else %>
    <div class="main-container fadeIn animated">

    <div class="container">

      <div class="row">

        <div class="col-md-7 col-sm-12 col-form">

          <h2 class="title-style-2">SEND US AN EMAIL<span class="title-under"></span></h2>

          <!-- <form action="php/mail.php" class="contact-form ajax-form"> -->

            <div class="row">
            
              <div class="form-group col-md-12">
              <label><h4>Name:</h4></label>
                <!-- <input type="text" name="name" class="form-control" placeholder="Name*" required> -->
                
                
                <%= f.text_field :name, class:"form-control", placeholder:"Name*" %>
              </div>

              <div class="form-group col-md-12">
              <label><h4>Email:</h4></label>
                <!-- <input type="email" name="email" class="form-control" placeholder="E-mail*" required> -->
                
                <%= f.text_field :email, class:"form-control", placeholder:"Email*" %>
              </div>

              <div class="form-group col-md-12">
              <label><h4>Subject:</h4></label>
                <!-- <input type="email" name="email" class="form-control" placeholder="E-mail*" required> -->
                <%= f.text_field :subject, class:"form-control", placeholder:"Subject*" %>
              </div>
              
            </div>

            <div class="form-group">
            <label><h4>Message:</h4></label>
              <!-- <textarea name="message" rows="5" class="form-control" placeholder="Message*" required></textarea> -->
              <%= f.text_area :content, class:"form-control", placeholder:"Content*" %>
            </div>

            <div class="form-group alerts">
                        
              <div class="alert alert-success" role="alert">
                
              </div>

              <div class="alert alert-danger" role="alert">
                
              </div>
              
            </div>  

            <div class="form-group">
              <%= f.submit 'Send email', class: 'btn btn-primary pull-right' %>
            </div>

            <div class="clearfix"></div>



        </div>

      </div> 


    </div>
    


  </div>
  <% end %>


<% end %>
