<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
      <fieldset>
            <legend>Edit <%= resource_name.to_s.humanize %></legend>
            <div class="form-group col-md-6">
                  <%= f.label :first_name, "Vorname (Optional):"  %>
                  <%= f.text_field :first_name, autofocus: true, class:"form-control", placeholder:"Vorname" %>

                  <%= f.label :last_name, "Nachname (Optional):"  %>
                  <%= f.text_field :last_name, autofocus: true, class:"form-control", placeholder:"Nachname"%>

                  <%= f.label :username, "Benutzername:"  %>
                  <%= f.text_field :username, autofocus: true, class:"form-control", placeholder:"Benutzername" %>

                  <%= f.label :birthday, "Geburtsdatum (Optional):"  %>
                  <%= f.date_field :birthday, autofocus: true, class:"form-control", placeholder:"TT.MM.JJJJ"%>

                  <%= f.label :email, "E-Mail-Adresse:"  %>
                  <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"z.B.: max@beispiel.de" %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Warte auf Bestätigung: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <%= f.label :password, "Neues Passwort:" %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", class:"form-control" , placeholder:"Lassen Sie das Feld leer, falls sie das Passwort nicht ändern möchten."%>

                  <%= f.label :password_confirmation, "Neues Passwort wiederholen:" %> 
                  <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>

                  <%= f.label :password, "Aktuelles Passwort:" %>
                  <%= f.password_field :current_password, autocomplete: "off", class:"form-control" , placeholder:"Ihr aktuelles Passwort ist nötig um Änderungen zu machen."%>
                  <br /> 

                  <div class="form-group">
                        <%= f.submit 'Konto aktualisieren', class: 'btn btn-primary pull-left' %>
                        <% end %>
                  </div>
            </div>
      </fieldset>

      <fieldset>
            <legend>Mein Konto löschen </legend>
            <p>Sie sind nicht zufrieden? 
                  <%= button_to "Mein Konto löschen", registration_path(resource_name), data: { confirm: "Sind Sie sicher?" }, method: :delete %></p>
      </fieldset>
</div>