<div class="row">
<%- if controller_name != 'sessions' %>
  <p aria-hidden="false">If you are already registered, <%= link_to "click here", new_session_path(resource_name), style:"color:#01B6AD" %> to log in</p>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p aria-hidden="false"><%= link_to "Sign up", new_registration_path(resource_name), style:"color:#01B6AD" %></p>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p aria-hidden="false"><%= link_to "Forgot your password?", new_password_path(resource_name), style:"color:#01B6AD" %></p>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p aria-hidden="false">Didn't receive <%= link_to "confirmation instructions?", new_confirmation_path(resource_name), style:"color:#01B6AD" %></p>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p aria-hidden="false">Didn't receive <%= link_to "unlock instructions?", new_unlock_path(resource_name), style:"color:#01B6AD" %></p>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <p aria-hidden="false"><%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), style:"color:#01B6AD" %></p>
  <% end -%>
<% end -%>
</div><br>