<div class="main">
  <div class="container">
    <div class="row">
    <% @about_us.each do |about_u| %>
      <div class="col-md-12">
        <h2 aria-hidden="false" class="title-style-3"><%= about_u.title %><span class="title-under"></span></h2>
      </div>
      <div class="col-md-12">
        <div class="row white-border">
            <div class="col-md-12">         
            <div class="col-md-12 about">
              <h2 class="about" aria-hidden="false" style="margin-top:20px"><%= about_u.paragraph1heading %></h2>
              <p aria-hidden="false"><%= about_u.paragraph1content %></p>
            </div></div>
            <div class="col-md-12">
            <div class="col-md-12 about">
              <h2 class="about" aria-hidden="false"><%= about_u.paragraph2heading %></h2>
              <p aria-hidden="false"><%= about_u.paragraph2content %></p>
            </div></div>
            <div class="col-md-12">
            <div class="col-md-12 about">
              <h2 class="about" aria-hidden="false"><%= about_u.paragraph3heading %></h2>
              <p aria-hidden="false"><%= about_u.paragraph3content %></p>
            </div></div>
            <div class="col-md-12" style="margin-bottom:20px">
            <div class="col-md-12">
              <%= image_tag about_u.picture, alt: about_u.picture_alt%>
            </div></div>
            
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div><br />