<div class="row white-border">
    <% @about_us.each do |about_u| %>
  <div>
    <h2 aria-hidden="false"><%= about_u.title %></h2>
  </div>
  <div class="col-md-12 about">
    <p aria-hidden="false"><%= about_u.paragraph1heading %></p>
    <p aria-hidden="false"><%= about_u.paragraph1content %></p><br />
  </div>
  <div class="col-md-12 about">
    <p aria-hidden="false"><%= about_u.paragraph2heading %></p>
    <p aria-hidden="false"><%= about_u.paragraph2content %></p> <br />
  </div>
  <div class="col-md-12 about">
    <p aria-hidden="false"><%= about_u.paragraph3heading %></p>
    <p aria-hidden="false"><%= about_u.paragraph3content %></p> <br />
  </div>

  <div class="col-md-12 about">
    <%= image_tag about_u.picture, alt: about_u.picture_alt %>
  </div>
   <% end %>
</div><br />