<h1>first name: <%= @user.first_name %></h1>
<h1>last name: <%= @user.last_name %></h1>
<h1>username: <%= @user.username %></h1>
<h1>admin: <%= @user.admin %></h1>
<h1>superadmin: <%= @user.superadmin %></h1>
<h1>app manager: <%= @user.app_manager%></h1>
<h1>email: <%= @user.email %></h1>
