<!DOCTYPE html>
<html>
<head>
  <title>Passwort zurücksetzen</title>
</head>
<body>
<h2>Sie haben Ihr Passwort vergessen. Kein Problem! Hier können Sie es zurücksetzen. Daraufhin werden wir Ihnen ein neues Passwort zusenden.</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :email, "Ihre E-Mail-Adresse:"  %>
    <%= f.email_field :email, required: true,autofocus: true, class:"form-control" , placeholder:"E-Mail"%>
  </div>	
  <br></br>
  <div class="form-actions">
    <%= f.button :submit, "Zurücksetzen" %>
  </div>
<% end %>
<br></br>
</body>
</html>