<p id="notice"><%= notice %></p>

<h1>Listing Tabs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Infromation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabs.each do |tab| %>
      <tr>
        <td><%= tab.name %></td>
        <td><%= tab.infromation %></td>
        <td><%= link_to 'Show', tab %></td>
        <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
        <td><%= link_to 'Destroy', tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tab', new_tab_path %>
