<div class="row">
  <h2 class="title-style-2" style="padding-left:10px" tabindex=0> Haftungsausschluss</h2><!-- <span class="title-under"></span> -->
</div><br />
<div class="row" style="background:#fff; border-radius: 5px;">
  <% @disclaimers_list.each do |disclaimer| %>
    <div class="col-md-12 disclaimer">  
      <% @tabs.each do |tab| %>
        <% if tab.disclaimer_id == disclaimer.id  %>
        <p aria-hidden="false"><h3 style="color:#01B6AD;" tabindex=0><%= tab.name %></h3></p>
        <p aria-hidden="false"><h4 tabindex=0><%= tab.paragraph1 %></h4></p>
        <p aria-hidden="false"><h4 tabindex=0><%= tab.paragraph2 %></h4></p>
        <p aria-hidden="false"><h4 tabindex=0><%= tab.paragraph3 %></h4></p>
        <p aria-hidden="false"><h4 tabindex=0><%= tab.paragraph4 %></h4></p>
        <% end %>
      <% end %>
    </div><br />
  <% end %>
</div><br />