<div class="row">
  <h2 class="title-style-3" style="padding-left:10px"> Haftungsausschluss<span class="title-under"></span></h2>
</div>
<div class="row" style="background:#fff; border-radius: 5px;">
  <% @disclaimers_list.each do |disclaimer| %>
    <div class="col-md-12 disclaimer">  
      <% @tabs.each do |tab| %>
        <% if tab.disclaimer_id == disclaimer.id  %>
        <p aria-hidden="false">
          <h3 style="color:#01B6AD;"><%= tab.name %></h3>
        </p>
        <p aria-hidden="false"><%= tab.paragraph1 %></p>
        <p aria-hidden="false"><%= tab.paragraph2 %></p>
        <p aria-hidden="false"><%= tab.paragraph3 %></p>
        <p aria-hidden="false"><%= tab.paragraph4 %></p>
        <% end %>
      <% end %>
    </div><br />
  <% end %>
</div><br />



<!-- I removed the heading tags because they are not accessibble so many heading in one page  -->