<h1>Leichte Sprache</h1>
    <% @help_items.each do |help_item| %>
    <div class="row">

      <div class="col-sm-6 col-md-12">
        <h2 class="title-style-2"><%= help_item.heading %></h2>
        <br />    
      </div>

<div class="col-sm-6 col-md-3">
    <%= image_tag (help_item.photo), :style => "height: 100%; width: 110%", class: "help-image" ,:alt => "help_item"%>
</div>  
<div class="col-sm-3 col-md-9">
  <h3 style="margin-left: 20px"><%= help_item.title1 %></h3>
  <h3 style="margin-left: 20px"><%= help_item.title2 %></h3>
  <h4 style="margin-left: 20px"><strong><%= help_item.bullet_heading %></strong></h4>
  <ul>
    <li class="contact-item"><%= help_item.bullet1 %></li>
    <li class="contact-item"><%= help_item.bullet2 %></li>
    <li class="contact-item"><%= help_item.bullet3 %></li>
    <li class="contact-item"><%= help_item.bullet5 %></li>
  </ul>
</div>
</div><br />
<% end %>