<div class="row">
	<div class="col-md-12">
		<h2 class="title-style-2" aria-hidden="false">Kategorien von Apps Für<span class="title-under"></span></h2>
	</div>	
</div>
<% if params[:category].blank? && params[:search].blank? %>
<% @categories_list.each do |category| %>
<div class="our-team">
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-6">
				<h2 class="title-style-3" aria-hidden="false" style="color:#01B6AD; margin-left:-30px" ><%= category.name %></h2>
			</div>
			<div class="col-md-6">
				<button class="btn btn-third pull-right" tabindex=0 role=button style="margin-top:25px;margin-right:-30px">
					<%= link_to "Mehr Apps...", 
					controller: "categories", action: "show", id: category.id , title:"this page links to list more app of this category"%><span class="fa fa-external-link"></span>
				</button>
			</div>
		</div>		
		<div class="row white-border" style="padding-top:20px">
			<% App.where(category_id: category.id).limit(6).each do |apps| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail" > 
						<a tabindex=0 role=button href="/apps/<%= apps.id %>" title="Link to this application page">
							<%= image_tag apps.app_img.url(:app_index) , alt: apps.app_img_alt %>
						</a>
					</div>
					<p class="app-name" aria-hidden="false"><%=  apps.name %></p>
					<p class="app-name" aria-hidden="false"><%= apps.price %>€</p>
					
					<p class="offscreen"> Durchschnittliche Bewertung der Anwendung ist </p>
					<div class="average-review-rating" 
					data-score=<%= apps.reviews.average(:rating)%>>
				    </div>
				</div>
				<br>
			</div>
			<% end %>
			
		</div><br>
</div>
</div>
<% end %>
<br/>

<% elsif !params[:category].blank? && params[:search].blank? %>
<div class="row white-border" style="padding-top:20px">
	<% @apps_all.each do |apps| %>
		<div class="col-md-2 col-sm-2">
		<div class="team-member">
			<div class="thumnail">
				<a role=button href="/apps/<%= apps.id %>"><%= image_tag apps.app_img.url(:app_index) %></a>
			</div>
			<p class="app-name" aria-hidden="false"><%= apps.name %></p>
			<p class="app-name" aria-hidden="false">Preis ist <%= apps.price %>€</p>
			 
			<p class="offscreen"> Durchschnittliche Bewertung der Anwendung ist </p>
			<div class="average-review-rating" data-score=<%= apps.reviews.average(:rating) %>></div>
		</div><br>
	</div>
	<% end %>
</div>

<% elsif %>
<div class="row white-border" style="padding-top:20px">
	<% @apps_all.each do |apps| %>
		<div class="col-md-2 col-sm-2">
		<div class="team-member">
			<div class="thumnail">
				<a role=button href="/apps/<%= apps.id %>"><%= image_tag apps.app_img.url(:app_index) %></a>
			</div>
			<p class="app-name" aria-hidden="false"><%= link_to apps.name, app_path(apps) %></p>
			<p class="app-name" aria-hidden="false"><%= apps.price %>€</p>

			<p class="offscreen"> Durchschnittliche Bewertung der Anwendung ist </p>
			<div class="average-review-rating" data-score=<%= apps.reviews.average(:rating) %>></div>
		</div><br>
	</div>
	<% end %>
</div>
<% end %>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>