<% @title="Zappatory.com - Verzeichnis für assistive Apps -index" %>

<div class="main">
		

		<div class="jumbotron home-1">
			<div class="container">
				<h1>Welcome to Zappatory.com!</h1>
				<p>On Zappatory.com you will find numerous apps that support people with disabilities in everyday life. The Apps are divided into disability groups. Click on "More Apps ..." to see all apps in the corresponding category. In addition, you can use the search function to search for keywords or the name of the app. Take a look around, you'll probably find some interesting apps.</p>
			</div>
		</div>

		<h2 class="title-style-3" aria-hidden="false">Editors Top Picks<span class="title-under"></span></h2>
		<div class="row white-border" style="padding-top:50px">
			<% @editor_picks.limit(5).each do |apps| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a href="/apps/<%= apps.id %>"><%= image_tag apps.app_img.url(:app_index) %>
						</a>
					</div>
					<p><%= link_to apps.name, app_path(apps) %></p>
					<p class="app-name" aria-hidden="false"><%=  apps.app_type %></p>
					<p class="app-name"><%= apps.price %>€</p>
					<a href="/apps/<%= apps.id %>">
						<div class="average-review-rating" data-score=
						<%= apps.reviews.average(:rating) %>></div> 
					</a>
				</div>
			</div>
			<% end %>
		</div>

</div>