<% @title="Zappatory.com - Verzeichnis für assistive Apps -single app" %>
<div class="main">
<div class="container">


<div class="row white-border">
  <div class="col-md-10 col-md-offset-1 line-bottom">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @app.app_img.url(:app_show), alt: @app.app_img_alt , class: "img-responsive align-image" %>
      </div>
      <div class="col-sm-8">
        <h2><b><%= @app.name %></b></h2>
        <hr>
        <p><em class="review-rating" data-score="<%= @average_review %>"></em> <%= @average_review %>,&nbsp;<%= @app.reviews.count %> Reviews</p>
        <hr>
        <p>
          <% if @app.price == 0 %>
          <em aria-hidden="true"></em> <b>Free</b>  &nbsp; &nbsp;
          <% else %>
          <em class="fa fa-eur" aria-hidden="true"></em> <%= @app.price %> &nbsp; &nbsp;
          <% end %>
        </p>
        <hr>
        <p aria-hidden="false">Link to portal for download:</p>
        <div class="text-center">
          <div class="btn-group">
            <% unless @app.android_link.blank? %> 
            <a class="btn btn-nopad" href="<%=@app.android_link%>" tabindex=0 role=button title="Link for Android download">Android</a>
            <% end %>
            <% unless @app.ios_link.blank? %> 
            <a class="btn btn-nopad" href="<%=@app.ios_link%>" tabindex=0 role=button title="Link for iOS download">iOS</a>
            <% end %>
            <% unless @app.windows_link.blank? %> 
            <a class="btn btn-nopad" href="<%=@app.windows_link%>" tabindex=0 role=button title="Link for Windows Phone download">Windows Phone</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
<br>


<div class="row white-border">
  <div class="col-md-12 col-md-offset-1 line-bottom">
    <div class="row">
      <h3 aria-hidden="false"><b>Screenshots</b></h3>
      <hr>
      <% unless @app.image1.blank? %> 
      <div class="col-md-2"> 
        <%= image_tag @app.image1.url(:app_show), alt: @app.image1_alt , class: "img-responsive align-image" %>
        </div>
      <% end %>
      <% unless @app.image2.blank? %> 
      <div class="col-md-2"> 
        <%= image_tag @app.image2.url(:app_show), alt: @app.image2_alt , class: "img-responsive align-image" %>
        </div>
      <% end %>
      <% unless @app.image3.blank? %> 
      <div class="col-md-2"> 
        <%= image_tag @app.image3.url(:app_show), alt: @app.image3_alt , class: "img-responsive align-image" %>
        </div>
      <% end %>
      <% unless @app.image4.blank? %> 
      <div class="col-md-2"> 
        <%= image_tag @app.image4.url(:app_show), alt: @app.image4_alt , class: "img-responsive align-image" %>
        </div>
      <% end %>
      <% unless @app.image5.blank? %> 
      <div class="col-md-2"> 
        <%= image_tag @app.image5.url(:app_show), alt: @app.image5_alt , class: "img-responsive align-image" %>
        </div>
      <% end %>
</div>
</div> 
</div>
<br>


<div class="row white-border"> 
  <div class="col-md-10 col-md-offset-1 line-bottom">
    <div class="row">
      <h3 aria-hidden="false"><b>Description</b></h3>
      <hr>
      <p><%= @app.description %></p>
      <br>
    </div>
</div> 
</div>     
<br>



<div class="row white-border"> 
  <div class="col-md-10 col-md-offset-1 line-bottom">
    <div class="row">
    <br>
    <% if user_signed_in? %>
    <% if Review.where(user_id: current_user.id, app_id: @app.id).count > 0 %>
    <p aria-hidden="false">You can edit your review</p>
    <% else %>
    <%= link_to "Add Review", new_app_review_path(@app), id: 'new_review', class: ' btn btn-nopad', title:"link to another page to create a new review for the application"%>
    <% end %>
    <% else %>
    <%= link_to "Sign In To Review app", new_user_session_path , id: 'new_review', class: ' btn btn-nopad' , title:"link to sign in to be able to post review"%>
    <% end %>
  </div>

  <div class="row">
    <h3 aria-hidden="false"></b>Reviews</b></h3>
    <hr>
    <%= render @reviews %>
    <%= will_paginate @reviews , :previous_label => t("Vorherige"), :next_label => t("Nächste")%>
  </div>
</div> 
</div>
<br>


<div class="row white-border">
  <div class="col-md-10 col-md-offset-1 line-bottom">
    <div class="row">
      <h3 aria-hidden="false"></b>Information</b></h3>
      <hr>
        <p><em class="fa" aria-hidden="true"></em>Developer: <%= @app.developer %></p>
        <br>
        <p><em class="fa" aria-hidden="true"></em>Size: <%= @app.size %></p>
        <br>
        <p>
          <% if @app.price == 0 %>
          <em aria-hidden="true"></em>Price: Free App &nbsp; &nbsp;
          <% else %>
          <em aria-hidden="true"></em>Price: <%= @app.price %> € &nbsp; &nbsp;
          <% end %>
        </p>
        <br>
        <p aria-hidden="false">Price of paid version: <%= @app.price_pro %>€</p>
        <br>
        <p aria-hidden="false">Type of App: <%= @app.app_type %></p>
        <br>
        <p aria-hidden="false">Available in: 
          <% @app.languages.each do |language| %>
          <%= language.name %>
          <% end %>
        </p>
      </div>
    </div>
</div>
</div>
</div>

<script>
$('.review-rating').raty({
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  },
  path: '/assets/'
});
</script>
<script>
$('.average-review-rating').raty({
  readOnly: true,
  path: '/assets/',
  score: function() {
    return $(this).attr('data-score')
  }
});
</script>

<script>
function SocialShare(social,url,title, descr, image, winWidth, winHeight) {
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);
    window.open(social+'=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
}
</script>