<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html lang="de" xml:lang="se" xmlns="http://www.w3.org/1999/xhtml">
<title><%= h @page_title %></title>
<div class="row">
	<div class="col-md-12">
		<h2 class="title-style-2"><%= App.human_attribute_name(:App_Name) %>: <%= @app.name %><span class="title-under"></span></h2>
	</div>
	<div class="col-md-6">
		<div class="col-md-6 col-xs-6">
			<div class="col-md-3 col-xs-3">
				<%= image_tag @app.app_img.url(:app_show), class: "img-responsive" %>
			</div>	
		</div>
		<div class="col-md-6 col-xs-6">
			<h4><%= App.human_attribute_name(:Preis) %>: <%= @app.price %>€</h4>
			<h4><%= App.human_attribute_name(:Type) %>: <%= @app.app_type %></h4>
			<h3 >Average Rating</h3>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews"><h4>Based on&nbsp;<%= @app.reviews.count %>&nbsp;reviews</h4></span>
		</div>
		<div class="col-md-6 col-xs-6">
			<h4 class="title-style-2">Links Seiten zum Download:</h3>
			<h4><a href="#" class="btn btn-primary">iOS</a></h4>
			<h4><a href="#" class="btn btn-primary">Android</a></h4>
			<h4><a href="#" class="btn btn-primary">Windows Phone</a></h4>
		</div>
	</div>
	<div class="col-md-6">
		<h4><%= Category.human_attribute_name(:Kategorie)%>: <%= @app.category.name %></h4>
		<h4><%= App.human_attribute_name(:Beschreibung) %>: <%= @app.description %></h4>
		<% @app.operations.each do |operatingsystem| %>
		<h4>System: <%= operatingsystem.id %> </h4>
		<h4>Information: <%= operatingsystem.information %> </h4>
		<h4><a href=<%= operatingsystem.link %> >Link</a></h4>
		<% end %>
		<h4><%= App.human_attribute_name(:Entwickler)%>: <%= @app.developer %></h4>
		<h4><%= App.human_attribute_name(:Price_Pro) %>: <%= @app.price_pro %>€</h4>
		<h4>Languages Avilable:
			<% @app.languages.each do |language| %>
			<%= language.name %> **
			<% end %>
		</h4>
		<div class="form-group col-md-6">
			<% if Review.where(user_id: current_user.id, app_id: @app.id).count > 0 %>
			<%= link_to "Back", root_path, class: 'btn btn-primary pull-right' %>
			<% else %>
			<%= link_to "Add Review", new_app_review_path(@app), id: 'new_review', class: 'btn btn-primary pull-left' %>
			<%= link_to "Back", root_path, class: 'btn btn-primary pull-right' %>
			<% end %>
    	</div>	
	</div>	
</div> <!-- /.row -->
<br></br>

<div class="row">
	<div class="col-md-6 col-sm-6">
		<div class="col-md-3 col-sm-3">
			<div class="thumnail">
				<%= image_tag @app.image1.url(:app_show), class: "img-responsive",:size => "150x150" %>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
				<div class="thumnail">
					<%= image_tag @app.image2.url(:app_show), class: "img-responsive",:size => "150x150" %>
				</div>
		</div>
		<div class="col-md-3 col-sm-3">
				<div class="thumnail">
					<%= image_tag @app.image3.url(:app_show), class: "img-responsive",:size => "150x150" %>
				</div>
		</div>
		<div class="col-md-3 col-sm-3">
				<div class="thumnail">
					<%= image_tag @app.image4.url(:app_show), class: "img-responsive",:size => "150x150" %>
				</div>
		</div>
	</div>
	<div class="col-md-6">
		<%= render @reviews %>
		<%= will_paginate @reviews , :previous_label => t("previous german"), :next_label => t("next german")%>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2 class="title-style-2">Related Apps<span class="title-under"></span></h2>
		<!-- This is for related apps -->
	</div>
</div><br />
<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>
<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

<script>
    function SocialShare(social,url,title, descr, image, winWidth, winHeight) {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open(social+'=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>