<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<title><%= h @page_title %></title>

<head>
  <title><%= h @page_title %></title>
  <%= csrf_meta_tags %>
       <%= javascript_include_tag('jquery.etalage.min.js') %>
       <%= javascript_include_tag('jquery.min.js') %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
       <%= stylesheet_link_tag  'etalage', media: 'all', 'data-turbolinks-track' => true %>
       <%= stylesheet_link_tag  'style2', media: 'all', 'data-turbolinks-track' => true %>
</head>

<script>
jQuery(document).ready(function($){
	$('#etalage').etalage({
		thumb_image_width: 300,
		thumb_image_height: 400,
		show_hint: true,
	});
});
</script>

 <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row">
				<div class="col-md-9 single_left">
				   <div class="single_image">
					     <ul id="etalage">
							<li>
								<a href="#">
									
									<div class="etalage_thumb_image"> <%= image_tag @app.image1.url %> </div>
									<div class="etalage_source_image"> <%= image_tag @app.image1.url(:app_show) %> </div>
								</a>
							</li>
							<li>
								    <img class="etalage_thumb_image" > <%= image_tag @app.image2.url(:app_show) %>/>
									<img class="etalage_source_image" <%= image_tag @app.image2.url(:app_show) %>/>
							</li>
							<li>
									<img class="etalage_thumb_image" > <%= image_tag @app.image3.url(:app_show) %>/>
									<img class="etalage_source_image" > <%= image_tag @app.image3.url(:app_show) %>/>
							</li>
						</ul>
					    </div>
					     <div class="single_right">
				        	<h3><%= App.human_attribute_name(:Name_of_Application) %></h3>
				        	<p class="m_10"> <%= @app.name %> </p>
				        	<ul class="options">
								<h4 class="m_12">Select a Size(cm)</h4>
								<li><a href="#">151</a></li>
							</ul>
				        	<ul class="product-colors">
								<h3>available Colors</h3>
								<li><a class="color1" href="#"><span> </span></a></li>
								<div class="clear"> </div>
							</ul>
							<div class="btn_form">
							   <form>
								 <input type="submit" value="buy now" title="">
							  </form>
							</div>
							<ul class="add-to-links">
    			              <li><img src="images/wish.png" alt=""><a href="#">Add to wishlist</a></li>
    			            </ul>
							<div class="social_buttons">
								<h4>95 Items</h4>
								<button type="button" class="btn1 btn1-default1 btn1-twitter" onclick="">
					              <i class="icon-twitter"></i> Tweet
					            </button>
					            <button type="button" class="btn1 btn1-default1 btn1-facebook" onclick="">
					              <i class="icon-facebook"></i> Share
					            </button>
					             <button type="button" class="btn1 btn1-default1 btn1-google" onclick="">
					              <i class="icon-google"></i> Google+
					            </button>
					            <button type="button" class="btn1 btn1-default1 btn1-pinterest" onclick="">
					              <i class="icon-pinterest"></i> Pinterest
					            </button>
					        </div>
				        </div>
				</div>
				<div class="col-md-3">
<h4>place holder</h4>
			   </div>
			</div>		
			<div class="desc">
			   	<h4>Description</h4>
			   	<p>Description here </p>
			</div>


<div class="row">

	<div class="col-md-6">
		<div class="col-md-6 col-xs-6">
			<div class="col-md-3 col-xs-3">
				<%= image_tag @app.app_img.url(:app_show), class: "img-responsive" %>
			</div>
			
		</div>
		<div class="col-md-6 col-xs-6">
			<h4><%= App.human_attribute_name(:Price) %>: <%= @app.price %>€</h4>
			<h4><%= App.human_attribute_name(:Type) %>: <%= @app.type %></h4>
			<h3 >Average Rating</h3>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews"><h4>Based on&nbsp;<%= @app.reviews.count %>&nbsp;reviews</h4></span>
		</div>
		<div class="col-md-6 col-xs-6">
			<h4 class="title-style-2">Links to download pages:</h3>
			<h4><a href="#" class="btn btn-primary">iOS</a></h4>
			<h4><a href="#" class="btn btn-primary">Android</a></h4>
			<h4><a href="#" class="btn btn-primary">Windows Phone</a></h4>
		</div>
		
	</div> 

	<div class="col-md-6">
		<h4><%= Category.human_attribute_name(:Category)%>: <%= @app.category.name %></h4>
		<h4><%= App.human_attribute_name(:Description) %>: <%= @app.description %></h4>
		<% @app.operations.each do |operatingsystem| %>
		<h4>System: <%= operatingsystem.id %> </h4>
		<h4>Information: <%= operatingsystem.information %> </h4>
		<h4><a href=<%= operatingsystem.link %> >Link</a></h4>
		<% end %>
		<h4><%= App.human_attribute_name(:Developer)%>: <%= @app.developer %></h4>
		<h4><%= App.human_attribute_name(:Price) %>: <%= @app.price %>€</h4>
		<h4><%= App.human_attribute_name(:Price_Pro) %>: <%= @app.price_pro %>€</h4>
		<h4>Languages Avilable:
			<% @app.languages.each do |language| %>
			<%= language.name %> **
			<% end %>
		</h4>
		<div class="form-group col-md-6">
		<% if @app.reviews.empty? %>
		<%= link_to "Add Review", new_app_review_path(@app), id: 'new_review', class: 'btn btn-primary pull-left' %>
		<%= link_to "Back", root_path, class: 'btn btn-primary pull-right' %>
		<% else %>
		<%= link_to "Back", root_path, class: 'btn btn-primary pull-right' %>
    	<%end%>
    	</div>
	</div>

	<!-- <div class="col-md-6">
		<%= image_tag @app.image1.url(:app_show), class: "img-responsive" %>
		<%= image_tag @app.image2.url(:app_show), class: "img-responsive" %>
		<%= image_tag @app.image3.url(:app_show), class: "img-responsive" %>
		<%= image_tag @app.image4.url(:app_show), class: "img-responsive" %>
		<%= image_tag @app.image5.url(:app_show), class: "img-responsive" %>
	</div> -->

</div> <!-- /.row -->
<br></br>

<div class="row">
	<div class="col-md-6 col-sm-6">
		<div class="col-md-3 col-sm-3">
		
			<div class="thumnail">
				<%= image_tag @app.image1.url(:app_show), class: "img-responsive",:size => "150x150" %>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
				<div class="thumnail">
					<%= image_tag @app.image2.url(:app_show), class: "img-responsive",:size => "150x150" %>
				</div>
		</div>
		<div class="col-md-3 col-sm-3">
				<div class="thumnail">
					<%= image_tag @app.image3.url(:app_show), class: "img-responsive",:size => "150x150" %>
				</div>
		</div>
		<div class="col-md-3 col-sm-3">
				<div class="thumnail">
					<%= image_tag @app.image4.url(:app_show), class: "img-responsive",:size => "150x150" %>
				</div>
		</div>
	</div>	
	<div class="col-md-6">
		<%= render @reviews %>
		<%= will_paginate @reviews , :previous_label => t("previous"), :next_label => t("next")%>
		<!-- <div>
		<%= link_to "Add Review", new_app_review_path(@app) %>
		</div> -->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2 class="title-style-2">Related Apps<span class="title-under"></span></h2>
		<!-- This is for related apps -->
	</div>
</div><br />

<!-- <div class="row">
	<div class="col-md-6">
		<% if user_signed_in? %>
			<% if @app.user_id==current_user.id %>
			<%= link_to "Edit", edit_app_path(@app) %>
			<%= link_to "Delete", app_path(@app), method: :delete, data: {confirm: "Are you sure"} %>
			<% end %>
		<% end %>
	</div>
</div> -->
<br></br>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>
<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

<script>
    function SocialShare(social,url,title, descr, image, winWidth, winHeight) {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open(social+'=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>