
<div class="main">
	<div class="container">
		<h2 class="title-style-3"><%= @category.name %><span class="title-under"></span></h2>
		<section class="product">
			<% if @product %>
			<p>
				<strong>Category:</strong><%= @product.name %>
			</p>
			<% end %>
		</section>
		<div class="row white-border">
			<div class="col-md-6">
				<div class="text-center btn-group" style="margin-top: 10px">
					<p>Sorting:
					  <button type="button" class="btn btn-third">
					  	<%= sort_link @search, :name, "Product Name" %>
					  </button>
					  
					  <button type="button" class="btn btn-third">
					  	<%= sort_link @search, :price, "Price" %>
					  </button>
					  
					  <button type="button" class="btn btn-third">
					  	<%= sort_link @search, :average, "Best Rated" %>
					  </button>
					  
					  <button type="button" class="btn btn-third">
					  	<%= sort_link @search, :total, "Most Rated" %>
					  </button>
					</p>
				</div>	
			</div>

			<div class="col-md-6">
				<div class="text-center btn-group" style="margin-top:10px">
					<p>Filter:
					  <button type="button" class="btn btn-third">
					  	<%= link_to "Andriod", controller: "categories", action: "show", operatingsystem_id: 1  %>
					  </button>
					  
					  <button type="button" class="btn btn-third">
					  	<%= link_to "IOS", controller: "categories", action: "show", operatingsystem_id: 2  %>
					  </button>
					  
					  <button type="button" class="btn btn-third">
					  	<%= link_to "Windows", controller: "categories", action: "show", operatingsystem_id: 3  %>
					  </button>
					  
					  <button type="button" class="btn btn-third">
					  	<%= link_to "German", controller: "categories", action: "show",language_id: 1 %>
					  </button>
					  
					  <button type="button" class="btn btn-third">
					  	<%= link_to "English", controller: "categories", action: "show",language_id: 2 %>
					  </button>
					  <% if @free_app.present? %>
					  
					  <button type="button" class="btn btn-third">
					  	<%= link_to "Free", controller: "categories", action: "show", id: @category.id, price: '0' %>
					  	<% end %>
					  </button>
					  
					  <button type="button" class="btn btn-third"><%= link_to "All Apps", controller: "categories", action: "show", category_id: @category.id %>
					  </button>
					</p>	
				</div>
			</div>
		</div>
	</div><br>

	<div class="container white-border" style="padding-top:20px">

		<% unless @lang.present? || @os.present? || @free.present? %>
		<div class="row" >
			<% @products.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<%= image_tag product.app_img.url(:app_index) %>
					</div>
					<!-- <p><%= link_to product.name, app_path(product) %></p>
					<p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
				</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>
		<% end %>

		<div class="row">
			<% @lang.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<%= image_tag product.app_img.url(:app_index) %>
					</div>
					<p><%= link_to product.name, app_path(product) %></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<div class="row">
			<% @os.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<%= image_tag product.app_img.url(:app_index) %>
					</div>
					<p><%= link_to product.name, app_path(product) %></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<div class="row">
			<% @free.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<%= image_tag product.app_img.url(:app_index) %>
					</div>
					
					<p><%= link_to product.name, app_path(product) %></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<%= link_to 'Bearbeiten', edit_category_path(@category), class: "btn btn-forth", alt: "Umstellung auf andere Kategorien" %><br>
	</div><br>
</div>	
		<script>
			$('.average-review-rating').raty({
				readOnly: true,
				path: '/assets/',
				score: function() {
					return $(this).attr('data-score')
				}
			});
		</script>