
<div class="main">
	<div class="container">
		<h2 class="title-style-3"><%= @category.name %><span class="title-under"></span></h2>
		<section class="product">
			<% if @product %>
			<p>
				<strong>Category:</strong><%= @product.name %>
			</p>
			<% end %>
		</section>
		<div class="row">
			<div class="col-md-6 white-border" style="margin-right: 3px; margin-left:-3px">
				<div class="text-center" style="margin:10px 0">
					<p>Apps sortieren nach:</p>
					<div class="btn-group">
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :name, "Name" %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :price, "Preis" %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :average, "Bewertung" %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :total, "Anzahl der Bewertungen" %>
					  </button>
					</div>
				</div>	
			</div>

			<div class="col-md-6 white-border" style="margin-left: 3px; margin-right:-3px">		
				<div class="text-center" style="margin:10px 0">
					<p>Filter Apps by:</p>
					<div class="btn-group">
					  <button type="button" class="btn btn-fifth">
					  	<%= link_to "Android", controller: "categories", action: "show", operatingsystem_id: 1  %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= link_to "iOS", controller: "categories", action: "show", operatingsystem_id: 2  %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= link_to "Windows", controller: "categories", action: "show", operatingsystem_id: 3  %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= link_to "Deutsch", controller: "categories", action: "show",language_id: 1 %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= link_to "Englisch", controller: "categories", action: "show",language_id: 2 %>
					  </button>
					  
					  <% if @free_app.present? %>
					  <button type="button" class="btn btn-fifth">
					  	<%= link_to "Kostenlos", controller: "categories", action: "show", id: @category.id, price: '0' %>					  	
					  </button><% end %>
					  
					  <button type="button" class="btn btn-fifth"><%= link_to "All Apps", controller: "categories", action: "show", category_id: @category.id %>
					  </button>
					</div>	
				</div>
			</div>
		</div>
	</div><br>

	<div class="container white-border" style="padding-top:20px">

		<% unless @lang.present? || @os.present? || @free.present? %>
		<div class="row" >
			<% @products.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
					<p aria-hidden="false" class="app-name"><%= product.name %></p>
					<!--<p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
				</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>
		<% end %>

		<div class="row">
			<% @lang.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
					<p aria-hidden="false" class="app-name"><%= product.name %></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<div class="row">
			<% @os.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
					<p aria-hidden="false" class="app-name"><%= product.name %></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<div class="row">
			<% @free.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
			
					<p aria-hidden="false" class="app-name"><%= product.name%></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<!--<%= link_to 'Bearbeiten', edit_category_path(@category), class: "btn btn-forth", title: "Umstellung zu anderer Kategorie" %><br>-->
	</div><br>
</div>	
		<script>
			$('.average-review-rating').raty({
				readOnly: true,
				path: '/assets/',
				score: function() {
					return $(this).attr('data-score')
				}
			});
		</script>