
		<div class="main">
			<div class="container">
				<h2><b><%= @category.name %></p></h2>
				<section class="product">
					<% if @product %>
					<p>
						<strong>Category:</strong><%= @product.name %>
					</p>
					<% end %>
				</section>
				<div class="row">
					<div class="col-md-6">
						<table>
							<tr>
								<p>Sorting:
								  <button type="button" class="btn btn-warning"><%= sort_link @search, :name, "Product Name" %></button>
								  <button type="button" class="btn btn-success"><%= sort_link @search, :price, "Price" %></button>
								  <button type="button" class="btn btn-info"><%= sort_link @search, :average, "Best Rated" %></button>
								  <!-- <button type="button" class="btn btn-warning">Warning</button> -->
								  <button type="button" class="btn btn-danger"><%= sort_link @search, :total, "Most Rated" %></button></p>
							</tr>
						</table>	
					</div>
					<div class="col-md-6">
						<table>
							<tr>
								<p>Filter:
								  <button type="button" class="btn btn-warning"><%= sort_link @search, :name, "Product Name" %></button>
								  <button type="button" class="btn btn-success"><%= sort_link @search, :price, "Price" %></button>
								  <button type="button" class="btn btn-info"><%= sort_link @search, :average, "Best Rated" %></button>
								  <!-- <button type="button" class="btn btn-warning">Warning</button> -->
								  <button type="button" class="btn btn-danger"><%= sort_link @search, :total, "Most Rated" %></button></p>
							</tr>
						</table>
					</div>
				</div>
				<%= link_to "All Apps", controller: "categories", action: "show", category_id: @category.id %> 
				<br></br>

				<%= label_tag "Type of Sort" %>
				<table id="products">
					<tr>
						<li><%= sort_link @search, :name, "Product Name" %></li>
						<li><%= sort_link @search, :price, "Price" %></li>    
						<li><%= sort_link @search, :average, "Best Rated" %></li>
						<li><%= sort_link @search, :total, "Most Rated" %></li>
					</tr>
				</table>
				</br>

				<%= label_tag "Type of Filter -> Operating Systems" %>
				<li><%= link_to "Andriod", controller: "categories", action: "show", operatingsystem_id: 1  %></li>
				<li><%= link_to "IOS", controller: "categories", action: "show", operatingsystem_id: 2  %></li>
				<li><%= link_to "Windows", controller: "categories", action: "show", operatingsystem_id: 3  %></li>
				</br>

				<%= label_tag "Type of Filter -> Language" %>

				<li><%= link_to "German", controller: "categories", action: "show",language_id: 1 %></li>
				<li><%= link_to "English", controller: "categories", action: "show",language_id: 2 %></li>

				</br>

				<% if @free_app.present? %>
				<%= label_tag "Free" %>
				<li><%= link_to "Free", controller: "categories", action: "show", id: @category.id, price: '0' %></li>
				</br>
				<% end %>


				<% unless @lang.present? || @os.present? || @free.present? %>
				<div class="row">
					<% @products.each do |product| %>
					<div class="col-md-2 col-sm-2">
						<div class="team-member">
							<div class="thumnail">
								<%= image_tag product.app_img.url(:app_index) %></a>
							</div>
							<!-- <p><%= link_to product.name, app_path(product) %></p>
							<p> 
								<% product.operatingsystems.each do |operation| %>
								<li><%= operation.name %></li>
								<% end %>
							</ul>
						</p>
						<p> 
							<% product.languages.each do |lang| %>
							<li><%= lang.name %></li>
							<% end %>
						</ul>
					</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br></br>
				</div>
				<% end %>
				</div>
				<% end %>

				<div class="row">
					<% @lang.each do |product| %>
					<div class="col-md-2 col-sm-2">
						<div class="team-member">
							<div class="thumnail">
								<%= image_tag product.app_img.url(:app_index) %></a>
							</div>
							<p><%= link_to product.name, app_path(product) %></p>
							<!-- <p> 
								<% product.operatingsystems.each do |operation| %>
								<li><%= operation.name %></li>
								<% end %>
							</ul>
						</p>
						<p> 
							<% product.languages.each do |lang| %>
							<li><%= lang.name %></li>
							<% end %>
						</ul>
					</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br></br>
				</div>
				<% end %>
				</div>

				<div class="row">
					<% @os.each do |product| %>
					<div class="col-md-2 col-sm-2">
						<div class="team-member">
							<div class="thumnail">
								<%= image_tag product.app_img.url(:app_index) %></a>
							</div>
							<p><%= link_to product.name, app_path(product) %></p>
							<!-- <p> 
								<% product.operatingsystems.each do |operation| %>
								<li><%= operation.name %></li>
								<% end %>
							</ul>
						</p>
						<p> 
							<% product.languages.each do |lang| %>
							<li><%= lang.name %></li>
							<% end %>
						</ul>
					</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br></br>
				</div>
				<% end %>
				</div>

				<div class="row">
					<% @free.each do |product| %>
					<div class="col-md-2 col-sm-2">
						<div class="team-member">
							<div class="thumnail">
								<%= image_tag product.app_img.url(:app_index) %></a>
							</div>
							<p><%= link_to product.name, app_path(product) %></p>
							<!-- <p> 
								<% product.operatingsystems.each do |operation| %>
								<li><%= operation.name %></li>
								<% end %>
							</ul>
						</p>
						<p> 
							<% product.languages.each do |lang| %>
							<li><%= lang.name %></li>
							<% end %>
						</ul>
					</p> -->
					<p class="app-name"><%= number_to_currency(product.price) %></p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br></br>
				</div>
				<% end %>
				</div><br>

				<script>
					$('.average-review-rating').raty({
						readOnly: true,
						path: '/assets/',
						score: function() {
							return $(this).attr('data-score')
						}
					});
				</script>

				<%= link_to 'Bearbeiten', edit_category_path(@category), class: "btn btn-primary" %><br>
			</div><br>
		</div>	
