<% @title="Zappatory.com - Verzeichnis für assistive Apps -Kategorien" %>
<div class="main">
	<div class="container">
		<h2 class="title-style-3" aria-hidden="false"><%= @category.name %><span class="title-under"></span></h2>
		<section class="product">
			<% if @product %>
			<p aria-hidden="false"><strong>Category:</strong><%= @product.name %></p>
			<% end %>
		</section>
		<div class="row">
			<div class="col-md-6 white-border" style="margin-right: 3px; margin-left:-3px">
				<div class="text-center" style="margin:10px 0">
					<p aria-hidden="false">Apps sortieren nach:</p>
					<div class="btn-group">
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :name, "Name" %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :price, "Preis" %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :average, "Bewertung" %>
					  </button>
					  
					  <button type="button" class="btn btn-fifth">
					  	<%= sort_link @search, :total, "Anzahl der Bewertungen" %>
					  </button>
					</div>
				</div>	
			</div>

			<div class="col-md-6 white-border" style="margin-left: 3px; margin-right:-3px">		
				<div class="text-center" style="margin:10px 0">
					<p aria-hidden="false">Filter Apps by:</p>
					<div class="btn-group">
					<% i=0 %>
					<% j=0 %>
					<% k=0 %>
						<% @products.each do |product| %>
 						<% product.operatingsystems.each do |operation| %>
 							<% if (operation.name=="Windows") %>
 								<% if(i<1) %>
 									<button type="button" class="btn btn-fifth">	
 									<%= link_to operation.name, controller: "categories", action: "show", id: @category.id, operatingsystem_id: operation.id  %>
 									</button>
 									<% i=+1 %>
 								<% end %>
 							<% elsif (operation.name=="iOS")%>
 								<% if(j<1) %>
 									<button type="button" class="btn btn-fifth">
 									<%= link_to operation.name, controller: "categories", action: "show", id: @category.id, operatingsystem_id: operation.id  %>
 									</button>
 									<% j=+1 %>
 								<% end %>
 							<% elsif (operation.name=="Android")%>
 								<% if(k<1) %>
 									<button type="button" class="btn btn-fifth">
 									<%= link_to operation.name, controller: "categories", action: "show", id: @category.id, operatingsystem_id: operation.id  %>
 									</button>
 									<% k=+1 %>
 								<% end %>	
 							<% end %>
 						<% end %>
 						<% end %>


 					<% p=0 %>
					<% h=0 %>
						<% @products.each do |product| %>
 						<% product.languages.each do |lang| %>
 							<% if (lang.name=="German") %>
 								<% if(p<1) %>
 									<button type="button" class="btn btn-fifth">	
 									<%= link_to lang.name, controller: "categories", action: "show", id: @category.id, language_id: lang.id %>
 									</button>
 									<% p=+1 %>
 								<% end %>
 							<% elsif (lang.name=="English")%>
 								<% if(h<1) %>
 									<button type="button" class="btn btn-fifth">
 									<%= link_to lang.name, controller: "categories", action: "show", id: @category.id, language_id: lang.id %>
 									</button>
 									<% h=+1 %>
 								<% end %>	
 							<% end %>
 						<% end %>
 						<% end %>
					  
					  
					  <% if @free_app.present? %>
					  <button type="button" class="btn btn-fifth">
					  	<%= link_to "Kostenlos", controller: "categories", action: "show", id: @category.id, price: '0' %>					  	
					  </button><% end %>
					  
					  <button type="button" class="btn btn-fifth"><%= link_to "All Apps", controller: "categories", action: "show", category_id: @category.id %>
					  </button>
					</div>	
				</div>
			</div>
		</div>
	</div><br>

	<div class="container white-border" style="padding-top:20px">

		<% unless @lang.present? || @os.present? || @free.present? %>
		<div class="row" >
			<% @products.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
					<p aria-hidden="false" class="app-name"><%= product.name %></p>
					<!--<p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
				</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>
		<% end %>

		<div class="row">
			<% @lang.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
					<p aria-hidden="false" class="app-name"><%= product.name %></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<div class="row">
			<% @os.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
					<p aria-hidden="false" class="app-name"><%= product.name %></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<div class="row">
			<% @free.each do |product| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail">
						<a role=button href="/apps/<%= product.id %>" title="Zur Seite der App">
						<%= image_tag product.app_img.url(:app_index), alt: product.name %>
						</a>
					</div>
			
					<p aria-hidden="false" class="app-name"><%= product.name%></p>
					<!-- <p> 
						<% product.operatingsystems.each do |operation| %>
						<li><%= operation.name %></li>
						<% end %>
					</ul>
					</p>
					<p> 
						<% product.languages.each do |lang| %>
						<li><%= lang.name %></li>
						<% end %>
					</ul>
					</p> -->
					<p aria-hidden="false" class="app-name"><%= number_to_currency(product.price) %></p>
					<p aria-hidden="true" class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
				</div><br>
			</div>
		<% end %>
		</div>

		<!--<%= link_to 'Bearbeiten', edit_category_path(@category), class: "btn btn-forth", title: "Umstellung zu anderer Kategorie" %><br>-->
	</div><br>
</div>	
		<script>
			$('.average-review-rating').raty({
				readOnly: true,
				path: '/assets/',
				score: function() {
					return $(this).attr('data-score')
				}
			});
		</script>