<div class="review-rating" data-score="<%= review.rating %>"></div
<h4><%= review.comment %></h4>
<h4>Geschrieben von <b><%= review.user.username %></b></h4>


<% if user_signed_in? %>

	<% if review.user_id == current_user.id %>			
		<%= link_to "Bearbeiten", edit_app_review_path(review.app, review) %>
		<%= link_to "Löschen", app_review_path(review.app, review), method: :delete, data: { confirm: "Bist du sicher?" }%>
	<% end %>	

<% end %>
<br/>		
