<!-- <div class="form-group col-md-4"> -->
<h4>Geschrieben von Benutzer:&nbsp;<b><%= review.user.username %></b></h4>
<div class="review-rating" data-score="<%= review.rating %>"><label><h4>Rating:&nbsp;</h4></label></div>
<h6 style="visibility:hidden">Rating number:&nbsp;<%= review.rating %>:&nbsp;Stars</h6>
<h4>Comment:&nbsp;<%= review.comment %></h4>
<!-- </div> -->

<div class="form-group col-md-4">
<% if user_signed_in? %>

	<% if review.user_id == current_user.id %>			
		<%= link_to "Bearbeiten", edit_app_review_path(review.app, review) %>
		<%= link_to "Löschen", app_review_path(review.app, review), method: :delete, data: { confirm: "Bist du sicher?" }%>
	<% end %>	

<% end %>
</div>
<br/>		
