<% @title="Zappatory.com - Verzeichnis für assistive Apps - All Apps" %>
<div class="row white-border" style="padding-top:20px">
			<% @apps_all.each do |apps| %>
			<div class="col-md-2 col-sm-2">
				<div class="team-member">
					<div class="thumnail" > 
						<a tabindex=0 role=button href="/apps/<%= apps.id %>" title="Zur Seite der App">
							<%= image_tag apps.app_img.url(:app_index) , alt: apps.name %>
						</a>
					</div>
					<p class="app-name" aria-hidden="false"><%=  apps.name %></p>
					<p class="app-name" aria-hidden="false"><%= apps.price %>€</p>
					
					<p class="offscreen">Durchschnittliche Bewertung:</p>
					<div class="average-review-rating" 
					data-score=<%= apps.reviews.average(:rating)%>>
				    </div>
				</div>
				<br>
			</div>
			<% end %>
			
		</div>