<h1>Store Listing</h1>
Sort By: 
<li><%= link_to "All Products", store_path %></li>

<h2> <strong> Blind english </strong></h2>

<table id="products">
  <tr>
    <th><%= sort_link @search, :name, "Product Name" %></th>
    <th><%= sort_link @search, :price, "Price" %></th>    
    <th><%= sort_link @search, :category_id, "Category" %></th>
    <th><%= sort_link @search, :rating, "Review" %></th>
    <th><%= sort_link @search, :app_img, "Image" %></th>

  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= link_to(product.name, product) %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= link_to(product.category.name, product) %></td>
    <td><%= product.reviews.average(:rating) %></td>
    
    <td class="image-description">
        <td><%= image_tag product.app_img.url(:app_index) %></td>
    </td>
  </tr>
<% end %>
</table>




   