<h1>Store Listing</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
      Sort:
      <%= f.sort_fields do |s| %>
        <%= s.sort_select %>
      <% end %>
  </div>
<div class="actions"><%= f.submit "Search" %></div>
<% end %>


Sort By: 
<li><%= link_to "All Products", store_path %></li>

 <h2> <strong> Blind </strong></h2>


 <h2> <strong> Blind German </strong></h2>

 <table id="products">
  <tr>
    <th><%= sort_link @search, :name, "Product Name" %></th>
    <th><%= sort_link @search, :price, "Price" %></th>    
    <th><%= sort_link @search, :average, "Review" %></th>

  </tr>
  </table>

<!-- Sort begin 



<table id="products">
  <tr>
    <li><%= sort_link @search, :price, "Price" %></li>
    <li><%= sort_link @search, :name, "Product Name" %></li> 
    <li><%= sort_link @search, :average, "Review" %></li>
  </tr>

<table id="products">
  <tr>
    <th><%= sort_link @search, :name, "Product Name" %></th>
    <th><%= sort_link @search, :price, "Price" %></th>    
    <th><%= sort_link @search, :average, "Review" %></th>

  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= link_to(product.name, product) %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= product.reviews.average(:rating) %></td>
    
    <td class="image-description">
        <td><%= image_tag product.app_img.url(:app_index) %></td>
    </td>
  </tr>
<% end %>
</table>
-->

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-2 col-sm-2">
    <div class="team-member">
      <div class="thumnail">
        <%= image_tag product.app_img.url(:app_index) %></a>
      </div>
      <p><%= link_to product.name, app_path(product) %></p>
      <p class="app-name"><%= product.price %>€</p>
      <div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
    </div><br></br>
  </div>
  <% end %>
</div>


