<section class="product">
  <% if @product %>
    <p>
        <strong>Category:</strong><%= @product.name %>
    </p>
        <% end %>
  </section>

  <div class="row">
  <% @products.each do |product| %>
    <div class="col-md-2 col-sm-2">
    <div class="team-member">
      <div class="thumnail">
        <%= image_tag product.app_img.url(:app_index) %></a>
      </div>
      <p><%= link_to product.name, app_path(product) %></p>
      <p> 
        <% product.operatingsystems.each do |operation| %>
          <li><%= operation.name %></li>
        <% end %>
      </ul>
      </p>
      <p> 
        <% product.languages.each do |lang| %>
          <li><%= lang.name %></li>
        <% end %>
      </ul>
      </p>
      <p class="app-name"><%= number_to_currency(product.price) %></p>
      <div class="average-review-rating" data-score=<%= product.reviews.average(:rating) %>></div>
    </div><br></br>
  </div>
  <% end %>
</div>

  <script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>




<p>
  <%= link_to "Home", root_path %>
</p>
