	<section class="product">
          <h2><%= link_to @product.name, store_product_path(@product) %></h2>
          
          <ul><%= number_to_currency @product.price %></ul>
        </dl>
        
        <td class="image-description">
          <td><%= image_tag @product.image.app_img.url(:app_index) %></td>
        </td>

        <% if @product.category %>
        <p>
        	<strong>Category:</strong><%= @product.category.name %>
        </p>
        <% end %>
	</section>

<p>
	<%= link_to "Home", root_path %>
</p>
