<h2> <strong> Sight Impairement </strong></h2>
<div class="app">
  <% @sight.each do |sight| %>

<div class="col-md-3">
      <a href="/apps/<%= sight.id %>"><%= image_tag sight.app_img.url(:app_index), class: "app_image" %></a>
      <p><%= link_to sight.name, app_path(sight) %></p>
      <p class="app-name"><%= sight.price %></p>
      <div class="average-review-rating" data-score=<%= sight.reviews.average(:rating) %>></div>
      </div>
<% end %>
</div>

