 <h1>Store Listing</h1>
Sort By: 
<li><%= link_to "All Products", sight_path %></li>
<li><%= link_to "Free", free_path(:category_id => 2) %></li>

<br>
<h3>Price is displayed in ascending order.</h3>


 <h2> <strong> Sight Impairement</strong></h2>

<div class="our-team animate-onscroll fadeIn">

	<div class="container">

	    <div class="row">
	    	<% @sight.each do |sight| %>

	        <div class="col-md-2 col-sm-2">

	            <div class="team-member">

	                <div class="thumnail">

	                    <a href="/apps/<%= sight.id %>"><%= image_tag sight.app_img.url(:app_index, :alt => "This is a picture"), class: "app_image"   %></a>
	                    
	                </div>

	                <p><h4><%= link_to sight.name, app_path(sight) %></h4></p>
					<p><h4><%= sight.price %>€</h4></p>
					<div class="average-review-rating" data-score=<%= sight.reviews.average(:rating) %>></div>
      			</div><br />
      		</div>
      		<% end %>
	    </div> 
	            
	</div>
</div><br></br>

<!--  <div class="app">
  <% @sight.each do |sight| %>

<div class="col-md-3">
      <a href="/apps/<%= sight.id %>"><%= image_tag sight.app_img.url(:app_index, :alt => "This is a picture"), class: "app_image"   %></a>
      <p><%= link_to sight.name, app_path(sight) %></p>
      <p class="app-name"><%= sight.price %></p>
      <div class="average-review-rating" data-score=<%= sight.reviews.average(:rating) %>></div>
      </div>
<% end %>
</div> -->