<!DOCTYPE html>
<html lang="de">

<head>
  <title><%= @title %></title>
  <%= favicon_link_tag ("favicon.ico") %>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"
  name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' type='text/css'>
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700'  type='text/css'>
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'font-awesome.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style.min', media: 'all', 'data-turbolinks-track' => true %>         
  <%= javascript_include_tag 'modernizr-2.6.2.min', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'category-apps', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'bootstrap-image-gallery.min', media: 'all', 'data-turbolinks-track' => true %>      
  <%= javascript_include_tag 'bootstrap-image-gallery.min', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <%= javascript_include_tag 'jquery-image-gallery.min', 'data-turbolinks-track' => true %>

  <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='http:http://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga');
  ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
  <script>
    $(function() {
        $('#nav li a').click(function() {
           $('#nav li').removeClass();
           $($(this).attr('href')).addClass('active');
        });
     });
  </script>
 
</head>

<body class="texts">
<header role="banner">
  <a href="#main" class="offscreen" role=link tabindex=0 accesskey="s">Zum Inhalt springen</a>
  <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-top">
        <div class="container">
          <div class="col-sm-4 col-xs-12">
            <%= link_to image_tag("logo.png", alt:"Logo von Zappatory.com", title:"Link zur Startseite"), 
            root_path, class: "navbar-brand" %>
          </div>
          <div class="col-sm-8 col-xs-12 text-right" style="padding-top:10px">
            <h2 class="offscreen">Benutzerkonto und Einstellungen</h2>
            <ul class="list-unstyled list-inline header-contact">
              <% if user_signed_in? %>
              <li><%= link_to "Mein Konto", edit_user_registration_path %><i><%= image_tag("user-8.png", :alt => "Mein Konto - Bild", class:"top-icon") %></i></li>
              <li><%= link_to "Ausloggen", destroy_user_session_path, method: :delete %><i><%= image_tag("log-out.png",:alt => "Ausloggen - Bild", class:"top-icon") %></i></li>
              <% else %>  
              <li><%= link_to "Einloggen", new_user_session_path %><i><%= image_tag("log-in.png",:alt => "Einloggen - Bild", class:"top-icon") %></i></li>
              <li><%= link_to "Registrieren", new_user_registration_path%><i><%= image_tag("register-v3.png",:alt => "Registrieren - Bild", class:"top-icon") %></i></li>
              <% end %>
  
              <li class="contrast" id="contrast">Kontrast:
                <a tabindex=0 title="Hoher Kontrast" id="contrast-black"><%= image_tag("Black.png",class: "contrast-icon" ,:alt => "Zu hohem Kontrast wechseln")%></a>
                <a tabindex=0 title="Normaler Kontrast" href="#"><%= image_tag("White.png",class: "contrast-icon",:alt => "Zu den Standardfarben wechseln")%></a>
              </li>
             

             <li class="fontsize">Schriftgröße:
              <a href="#" tabindex=0 title="Normal" ><%= image_tag("zoom.png",:alt => "Normale Schriftgröße", class: "normal")%></a>
               <a tabindex=0 title="Groß" id="zoom-out"><%= image_tag("zoom-1.png",:alt => "Vergrößerte Schriftgröße",class: "zoom")%></a>
               <a tabindex=0 title="Sehr groß" id="zoom-in"><%= image_tag("zoom-2.png",:alt => "Stark vergrößerte Schriftgröße", class: "zoom")%></a>
               
            </li>

              <li><%= link_to_unless I18n.locale == :en, image_tag("English.png",:size => "30x30", :alt => "Zur Englischen Seite wechseln"),set_language_english_path%>
              </li>
            </ul>
          </div>
        </div>
      </div> 

      <div class="navbar-main">
        <div class="container">
          <div class="navbar-collapse collapse pull-left">
            <h2 class="offscreen">Hauptnavigation</h2>
            <ul class="nav navbar-nav" id="nav">
              <li><%= link_to 'Starteseite', root_path %></li>
              <li><%= link_to 'Neuigkeiten', notification_path %></li>
              <li><%= link_to "Leichte Sprache", help_path %></li>
              <li><%= link_to "Über uns", about_us_path %></li>
              <li><%= link_to "Alle Apps", all_apps_path %></li>
              <li><%= link_to "Kontakt", new_message_path %></li>
              <% if user_signed_in? && (current_user.admin ==true or current_user.superadmin == true) %>
              <li><%= link_to "Administration", rails_admin.dashboard_path, method: :get %><li>  
                <% end %>
              </ul>
            </div> 

            <div class="navbar-collapse collapse pull-right" role="searchbar">
              <%= form_tag apps_path, method: :get, class: "navbar-form navbar-right", :style =>"padding-top:6px", 
              role: "search" do %>
      
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", 
                placeholder:"Suche nach Apps...", :style =>"border-radius: 5px" %>
                <div class="input-group-btn">
                  <button class="btn btn-third" type="submit" title="Suchen">
                    <span class="fa fa-search" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
              <% end %> 
            </div>
          </ul>     
        </div>
      </div>
    </nav>
</header>

<main role="main" id="main">
  <div class="container">
    <br>
    <div class="col-md-12">
      <%= render_breadcrumbs %>
    </div>
    <br>
    <% if notice %>
    <p role="notice" class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p role="alert" class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <a id="back-to-top" class="back-to-top" href="#"
    role="button" title="Back to Top" data-toggle="tooltip" data-placement="top" style="cursor: pointer;position: fixed;bottom: 40px;right: 20px;display: inline;z-index: 100;"><%= image_tag("top.png", :alt => "Zum Seitenanfang", :size=> "50x50") %>
    </a>
  </div>
</main>

<footer role="contentinfo" class="main-footer">
    <div class="footer-main">
      <div class="container">
        <div class="col-sm-6 col-xs-6 text-left">
          <h2 class="offscreen">Weiter Seiten</h2>
          <ul class="list-unstyled list-inline header-contact">
            <li><%= link_to 'Haftungsausschluss', disclaimer_path %></li>
          </ul>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
          <ul class="list-unstyled list-inline header-social"> Teilen auf:
            <li>Facebook <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyoung-caverns-86999.herokuapp.com" title="Auf Facebook teilen"><i class="fa fa-facebook"></i></a></li>
            <li>Twitter<a href="https://twitter.com/intent/tweet/?text=Super%20great%20and%20easy%20App%20Web.&amp;url=http%3A%2F%2Fyoung-caverns-86999.herokuapp.com" title="Auf Twitter teilen"><i class="fa fa-twitter"></i></a></li>
            <li>Google<a href="https://plus.google.com/share?url=http%3A%2F%2Fyoung-caverns-86999.herokuapp.com" title="Auf Google Plus teilen"> <i class="fa fa-google"></i></a></li>
            <li>Pintrest<a href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fsharingbuttons.io&amp;media=http%3A%2F%2Fsharingbuttons.io&amp;summary=Super%20great%20and%20easy%20App%20Web." title="Auf Pintrest teilen"> <i class="fa fa fa-pinterest-p"></i></a></li>
          </ul> 
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container text-left">
        <p>Copyright @ Universität Mannheim 2016</p>
      </div>
    </div> 

  </footer> 
<script>
   $('#zoom-in').click(function() {
    updateZoom(10);
   }); 
   $('#zoom-out').click(function() {
    updateZoom(-5);
   });

     zoomLevel = 10;
     var updateZoom = function(zoom) {
       if(zoom==0) zoomLevel=0;
       else 
        zoomLevel += zoom; 
        $('body').css("font-size", zoomLevel );
        $('p').css("font-size", zoomLevel);
        $('h4').css("font-size", zoomLevel);
        $('h2').css("font-size", zoomLevel);
        $('label').css("font-size", zoomLevel);
        $('li').css("font-size", zoomLevel);
        $('button').css("font-size", zoomLevel);
     }
</script>
<script>
    $('#back-to-top').click(function() {
      top();
    }); 
    var top = function() {
      $('html,body').scrollTop(0);
     }
</script>> 
<script>
  if ($('#back-to-top').length) {
      var scrollTrigger = 100, // px
          backToTop = function () {
              var scrollTop = $(window).scrollTop();
              if (scrollTop > scrollTrigger) {
                  $('#back-to-top').addClass('show');
              } else {
                  $('#back-to-top').removeClass('show');
              }
          };
      backToTop();
      $(window).on('scroll', function () {
          backToTop();
      });
      $('#back-to-top').on('click', function (e) {
          e.preventDefault();
          $('html,body').animate({
              scrollTop: 0
          });
      });
  }
</script> 
<script>
  $(document).ready(function () {
      $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
  });
</script>
<script>
     $('#contrast-black').click(function() {
       contrast();
     }); 
       var contrast = function() {
         $('body').css("background-color", "black");
         $('div').css("background-color", "black");
         $('p').css("color", "white");
         $('h4').css("color", "white");
         $('h2').css("color", "white");
         $('li').css("color", "white");
         $('label').css("color", "white");
         $('title').css("color", "white");
       }
     </script> 
</body>
</html>