<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">


<p><b>I18n.locale:</b> 
<%= I18n.locale %>
</p>

<html>
<head>
  <title>AbilIT.NET</title>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= csrf_meta_tags %>
      <!-- Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
      
      <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

      <!-- Bootsrap -->
      <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>

      <!-- Font awesome -->
      <%= stylesheet_link_tag    'font-awesome.min', media: 'all', 'data-turbolinks-track' => true %>

      <!-- Owl carousel -->
      <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>

      <!-- Template main Css -->
      <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>      
      
      <!-- Modernizr -->   
      <%= javascript_include_tag 'modernizr-2.6.2.min', 'data-turbolinks-track' => true %>

      <!-- Category-App -->
      <%= stylesheet_link_tag    'category-apps', media: 'all', 'data-turbolinks-track' => true %>

      <!-- Breadcrumb -->
      <!-- <script type="text/javascript" src="/javascript/breadcrumbs.js"></script> -->
      <%= javascript_include_tag 'breadcrumbs.js', 'data-turbolinks-track' => true %>

      <!-- Back to top -->
      <%= javascript_include_tag 'backtotop.js', 'data-turbolinks-track' => true %>


</head>
<body>
        <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){
z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?3x6HD4XfKARGFEWbUWcltRYw9XxC99mh';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

<!-- Header -->
<header class="main-header">
        
    
        <nav class="navbar navbar-static-top">

       <div class="navbar-top">
          <div class="navbar-top">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-xs-12 text-left">
                  <ul class="list-unstyled list-inline header-contact">
                    <li><a href="#" class="highcontrast">High Contrast Theme</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-xs-12 text-right">

                        <ul class="list-unstyled list-inline header-contact">
                            <% if user_signed_in? %>
                              <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
                            <% else %>  
                              <li><%= link_to "SIGN IN", new_user_session_path %></li>
                              <li><%= link_to "SIGN UP", new_user_registration_path %></li>
                            <% end %>
                            <li><%= link_to "HELP", help_path %></li>
                            <li><%= link_to "DICTIONARY", dictionary_path %></li>
                            <li><%= link_to 'DISCLAIMER', disclaimer_path %></li>
                            <li><%= link_to 'NOTIFICATION', notification_path %></li>
                       </ul> <!-- /.header-social  -->
                      
                    </div>
              </div>
            </div>

          </div>

            <div class="navbar-main">
              
              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>

                  
                </div>

                <div id="navbar" class="navbar-collapse collapse pull-left" aria-label="Main menu" role="navigation">

                  <ul class="nav navbar-nav" role="menubar" id="
                  nav">

                    <li><%= link_to "HOME", root_path %></li>
                    <li><%= link_to "CONTACT", new_message_path %></li>
                    <li class="has-child" role="menuitem" tabindex="1" aria-haspopup="true">
                      <a href="#">CATEGORIES</a>
                      <ul class="submenu" role="menu" aria-hidden="false">
                        <% Category.all.each do |category| %>
                          <li role="menuitem" tabindex="0" class="<%= 'active' if params[:category] == category.name %>">
                            <%= link_to category.name, apps_path(category: category.name), class: "link",  :tabindex=>"0"%>
                          </li>
                        <% end %>
                      </ul>
                      <p>
                    </li>
                    <li class="has-child">
                      <a href="#">LANGUAGES</a>
                      <ul class="submenu">
                        <li class="submenu-item"><%= link_to_unless I18n.locale == :en, "English", set_language_english_path %></li>
                        <li class="submenu-item"><%= link_to_unless I18n.locale == :de, "Deutsch", set_language_german_path %></li>
                      </ul>
                    </li>
                    <!--  -->
                  </ul>
                </div> 
                <div id="navbar" class="navbar-collapse collapse pull-right">

                  <%= form_tag apps_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
                      <p>
                       <%= text_field_tag :search, params[:search], class: "form-control", placeholder:"Searchfield" %>
                       <%= submit_tag "SEARCH", name: nil, class: "btn btn-default" %>
                       </p>
                      <% end %>
                </div><!-- /#navbar -->

              </div> <!-- /.container -->
              
            </div> <!-- /.navbar-main -->


        </nav> 

    </header> <!-- /. main-header -->



          <!-- Begin breadcrumb -->
      <div class="row">
        <div class="breadcrumbs" id="breadcrumb_dynamic">

        </div>
      </div>
        <!-- End of breadcrumb -->

<!-- Apps-->
<b><h3 class="notice"><%= notice %></h3></b>
<b><h3 class="alert"><%= alert %></h3></b>
<div class="container">
  <%= yield %>
</div>

<!-- Back to top -->
<a id="back-to-top" href="#" class="back-to-top" 
  role="button" title="Back to Top" data-toggle="tooltip" data-placement="top" style="cursor: pointer;position: fixed;bottom: 40px;right: 20px;display: inline;z-index: 100;"><%= image_tag("top-button.png", :alt => "Back to top", :size=> "40x40") %></a>

  

    <!--  Footer -->

    <footer class="main-footer">

        <div class="footer-top">
           
        </div>


        <div class="footer-main">
            <div class="container">
              

              <div class="col-sm-6 col-xs-12 text-left">

              </div>

              <div class="col-sm-6 col-xs-12 text-right">

                <ul class="list-unstyled list-inline header-social">

<li> <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyoung-caverns-86999.herokuapp.com"> <i class="fa fa-facebook"></i> </a> </li>
                    <li> <a href="https://twitter.com/intent/tweet/?text=Super%20great%20and%20easy%20App%20Web.&amp;url=http%3A%2F%2Fyoung-caverns-86999.herokuapp.com"> <i class="fa fa-twitter"></i>  </a> </li>
                    <li> <a href="https://plus.google.com/share?url=http%3A%2F%2Fyoung-caverns-86999.herokuapp.com"> <i class="fa fa-google"></i>  </a> </li>
                    <li> <a href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fsharingbuttons.io&amp;media=http%3A%2F%2Fsharingbuttons.io&amp;summary=Super%20great%20and%20easy%20App%20Web."> <i class="fa fa fa-pinterest-p"></i>  </a> </li>
                    <!-- <li> <a href="#"> <i class="fa fa-youtube"></i>  </a> </li>-->
                </ul> 
                      
              </div>
                
            </div><!-- /.footer-social  -->

            
        </div>

        <div class="footer-bottom">

            <div class="container text-right">
                <p>ABILITY.NET @ copyrights 2016</p>
            </div>
        </div>
        
    </footer> <!-- main-footer -->

<!--  Scripts -->

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<%= javascript_include_tag 'jquery-1.11.1.min', 'data-turbolinks-track' => true %>')</script>

    <!-- Bootsrap javascript file -->
    
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
    
    <!-- owl carouseljavascript file -->

    <%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => true %>

    <!-- Template main javascript -->
    
    <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.  -->   
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='http:http://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga');
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    

</body>
</html>
